
.subtitle {
    max-width: 850px;
    text-align: center;
    margin: auto;
}

.navbar-brand {
    margin-right: 10px;
}

.subtitle h2 {
    font-size: 25px !important;
}

.fdb-block {
    padding-top: 50px;
    padding-bottom: 0px;
}

h3, h4 {
    font-weight: 400;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 15px;
}

footer {
    margin-top: 30px;
}

.nav-item a {
    font-weight: bold;
    font-size: 18px;

}

.logo {
    font-size: 20px;
    font-weight: bold;
}

.nav-item .fa,
.nav-item .fab {
    font-size: 25px;
}


.download-section figcaption {
    margin: 10px;
    font-weight: bold;
    font-size: 18px;
}

.logo a {
    text-decoration: none;
    color: #444;
}
