<!DOCTYPE html>
<html>
<head>

    {{> head}}
    <title>Polar: Terms of Service</title>

</head>

<body>

{{> header}}

<section class="fdb-block" data-block-type="contents" data-id="1" draggable="false">
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center">

            </div>
        </div>
    </div>
</section>

{{> footer}}

</body>

</html>
